body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

#header {
  background-image: url("../assets/background.jpg");
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em;
}

.content {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0 15%;
}
