body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

#header {
  background-image: url("../assets/background.jpg");
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em;
}

.carousel {
  margin: 3em;
  padding: 1em;
  background: #333;
  color: white;
  line-height: 1em;
  font-family: 'Open Sans', sans-serif;
}

.autoplay .info {
  border-left: 3px solid yellow;
  padding-left: 1em;
}

.content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0 15%;
  font-family: 'Roboto', sans-serif;
}